body{
    padding: 0%;
    margin: 0%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.titulo{ 
    font-weight: bold;
    font-size: 22px;
    margin-top: 13px;
}

.texto{ 
    font-size: 13px;
    text-align: justify;
    margin-top: 8px;
}


.nota{ 
text-align:center; 
font-size: 15px; 
font-weight: bold;
margin-bottom: 50px;
} 

.imagem_section {
    margin-top: 32px;
    background-color: rgb(245, 245, 245);
    max-height: 500px;
}
.imagem-capa{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo{
    margin-top: 20px;
    display: inline-block;
}

.container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

a {
    margin-left: 8px;
    margin-right: 8px;
}

.menu {
    display: flex;
    align-items: center;
}

.linha_superior {
    background-color: rgb(66, 66, 255);
    width: 100%;
    height: 3px;
}

th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(240,248,255);
    border:1px solid black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border:1px solid black;
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.cont_tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


