    {% extends "base.html" %}
    {% block conteudo %}

<!-- corpo do texto -->
    
    <div class="titulo">Entre em contato</div><p>
    <div class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi alias nemo facilis voluptatibus aperiam accusantium, minus, ab fuga inventore molestias perferendis eum voluptatem. Possimus quibusdam ipsum quos sunt? Optio, provident.</div><p>
    
    <hr width="960" size="2" color="#DCDCDC">


    <form method="post" action="/contato">

        Seu e-mail: <br>
        <input type="email" name="email" required><br>

        Assunto: <br>
        <input type="text" name="assunto" required><br>

        Descrição : <br>
        <input type="text" name="descricao" required><br>

        <input type="submit">
    </form>
    {% endblock %}

