    {% extends "base.html" %}
    {% block conteudo %}

<!-- corpo do texto -->
    
    <div class="titulo">Entre em contato</div><p>
    <div class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi alias nemo facilis voluptatibus aperiam accusantium, minus, ab fuga inventore molestias perferendis eum voluptatem. Possimus quibusdam ipsum quos sunt? Optio, provident.</div><p>
    
    <hr width="960" size="2" color="#DCDCDC">

    <div class="texto">Seu email:</div> 
    <input type="text" name="email" size="20" placeholder="Digite sua mensagem"><p>

    <div class="texto">Assunto:</div>
    <input type="text" name="Assunto" size="20" placeholder="Digite sua mensagem"><p>

    <div class="texto">Descrição:</div>
    <textarea placeholder="Digite sua mensagem"></textarea><p>

    <button type="submit">Enviar</button>

    {% endblock %}

