    {% extends "base.html" %}
    {% block conteudo %}
<!-- corpo imagem -->
    <div class="imagem_section">
        <div class="imagem-capa">
            <img src="{{url_for('static', filename='/imagens/capa.png')}}">
        </div>
    </div>

<!-- corpo texto -->

    <div class="titulo">Sobre a universidade</div>

    <div class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fuga, laudantium assumenda mollitia eius, illum, deserunt debitis suscipit voluptatibus obcaecati minus impedit porro magnam quasi voluptatem quo. Voluptatum, nesciunt dolorem!Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quae, a est ipsam, eos officia soluta temporibus nihil eligendi magnam dolor repellendus totam inventore enim? Beatae ipsam quibusdam itaque! Amet?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias consequuntur, sint incidunt consectetur ab asperiores.<p> Illum officia molestias impedit laudantium. Amet incidunt laboriosam quo corporis distinctio, obcaecati iure veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias consequuntur, sint incidunt consectetur ab asperiores. Illum officia molestias impedit laudantium. Amet incidunt laboriosam quo corporis distinctio, obcaecati iure veniam.</div><p>

    {% endblock %}