    {% extends "base.html" %}
    {% block conteudo %}

<!-- corpo do texto -->
    <div class="titulo">Quem somos</div>
    <div class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae maxime veritatis iure recusandae qui non alias cupiditate quidem! Quam voluptate incidunt sunt laborum expedita ut ex numquam, vero officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae maxime veritatis iure recusandae qui non alias cupiditate quidem! Quam voluptate incidunt sunt laborum expedita ut ex numquam, vero officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, beatae maxime veritatis iure recusandae qui non alias cupiditate quidem! Quam voluptate incidunt sunt laborum expedita ut ex numquam, vero officia?</div><p>

    <div class="titulo">5 motivos para estudar</div>
    <div class="texto">1. material sempre atualizado<br>
        2. Tablets em sala de aula<br>
        3. Professores renomados<br>
        4. Universidade bem avaliada<br>
        5. Ótima localização</div><p>
    
    <hr width="960" size="2" color="#DCDCDC">

    <div class="titulo">Objetivos</div>
    <div class="texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum labore, soluta dolores assumenda ut magnam illo dolorem consequatur repellat corporis cupiditate libero reiciendis non nulla veritatis nostrum sequi! Excepturi, quam.</div><p>

    {% endblock %}

